section#blog.section--black
	
	.blog

		.blog-left

			.blog-post

				h2 Setting the Tone
					.subheading 19th July, 2014

				p 2 days ago I left full-time employment at Lowe Profero to go freelance and my first client may turn out to be my previous employer. The challenge is that I have to set a new tone in the relationship.
				p From my side I can no longer expect to have any authority over the project beyond what is explicitly set out in my contract - I’m not part of the team, I’m just there to do a job. When I was an employee I could afford to speak openly and object to the way a project was being run, and I could afford serious disagreements as they were unlikely to cost me my job, especially if the way I steered the project paid off in dividends. Now however, I need to be more restrained and delicate in how I proceed. Of course, I’m hired as an outside expert and should freely offer my expertise, but the way I do that now has to be different.
				p From the client’s side, I need to be acknowledged as the expert outsider and not just the same member of staff with the same responsibilities. The fact that they are hiring me is a result of the client agency now lacking the skills or resources that I offer. Other freelancers may offer the same skills, but I also come with the experience and familiarity with their people, processes, and clients. I understand their requirements exactly. That makes me a more valued commodity than I was before.
				h3 Rates
				p The first thing to establish with my first client was the rates. I had already planned what I wanted to charge as a freelancer. I want to charge based on project value in most cases, but when working on just part of a roughly-scoped project in conjunction with others it’s easier to charge according to time worked. I prepared a contract and sent a friendly email to my former boss with the rates I wanted to charge. His response was disappointing, but in retrospect not surprising - the new tone hasn’t been set yet.
				p He complained that for a full month of work my rates would amount to 3 times my previous salary, and asked if I could continue to work on the same salary basis. He implied that there would be at least a month of work for me to do and that I should find that renumeration acceptable, as I had done before. He also asked if I would be ok setting a fixed fee for the project.
				p One of my stated reasons for leaving the company was that I felt undervalued and under-utilised, and his reply just compounded that. I thought carefully about how to reply and eventually came up with these points:
				ul
					li Over the 3 years I worked at Lowe Profero my salary didn’t change and I never asked for a raise, yet I have increased in value considerably - I learnt lots of new technologies and management skills and became very familiar with all of their client work
					li Now that I’m working independently, I need to cover my own expenses - equipment, service subscriptions, insurance etc. as well as earn enough so that I can live comfortably at times when there is no work/income
					li The hourly rate I quoted is still well below the global average for web developers (the low cost of living in China affords me the luxury of undercutting the average)
					li The hourly rate I quoted is still well below the rate they charge their clients, so they would not be hiring me at a loss
					li I have already spent the past month working on this project and am already familiar with it - I can pick it back up at any time and deliver immediately
					li They recently hired other freelancers to work on the same project for similar rates - they were not as valuable as I am having not been previously familiar with the project, the people, and the processes
					li I have already had 2 offers for freelance work based on my quoted rates but I couldn’t commit to their deadlines this month - this suggests that I shouldn’t need to compromise on my rates
					li I am aware that the project deadline is looming and that I am available now and have a proven record with them so they can be confident that I will deliver; I’m also aware that this is a critical project for one of their most important clients and so quality and deadlines are extremely important
					li I am aware of their total revenue for this project and that they can certainly afford my rates based on that
					li I am aware that they are unlikely to be able to find a suitable freelancer for an equivalent rate to my previous salary without a serious risk of sacrificing quality
					li I would prefer to charge based on hourly or daily rates because the scope of the work is not clearly defined yet - I will need to be able to confidently plan my workload going forward and cannot risk project overrun if I have other clients lined up
					li If I was to charge a fixed fee then it would surely be higher than a month of work at my quoted rates because I’m aware of their total revenue for the project - I know what it’s worth to them and therefore what I am worth
				p I do feel these are all great points and that I am in a strong negotiating position. However before sending this to him, I sought the advice of a friend who made a very good observation - I need to keep it shorter and make it more about them, not me. My points may have convinced them but may have soured our relationship if they felt compelled to agree. I am trying to set the tone that I am an independent, professional, expert and part of my job as a freelancer is going to be selling my services to people. Part of selling is telling people what they want to hear. A good car salesman isn’t going to tell you about the family he needs to feed or the mortgage he needs to pay off - he’s going to tell you about how great the car is, how safe it is, how fuel efficient it is, how easy it is to handle.
				p So I thought again how to summarise those points from another angle and this is what I came up with:
				blockquote
					p Hi *****, I understand that you’re trying to keep costs low and I’d really like to help out with this project. I think the rate I’ve quoted is fair for the following reasons:
					ul
						li It’s a really important client and the deadline is looming.
						li I’m available right now and you know I can do a good job as I have a proven track record.
						li I already know your client and what they want, as well as the team and how they work.
						li I’ve already done a good deal of work on this project and now I just need to finish it.
						li My rate is still well below the rate you’re charging your client for senior developers and the cost of a month of my time won’t impact much the overall revenue.
				p I would prefer to charge based on time rather than a fixed fee. I know it may be more difficult to keep track of but there’s a chance the project may overrun and I might not be able to commit to completing the job if it does. I hope this is all ok. Look forward to hearing from you soon.
				p I haven’t fully prepared for my freelance career yet as it’s been a busy few months. I have savings lined up and so I’m not urgently seeking work. I would however really like this job purely because it would give me some early experience of working as a freelancer without the uncertainly that comes with working with an unfamiliar client; additionally it may open the door for future work with my old employers. However, I’m not going to compromise on my conditions and not going to work for my previous company without first setting a new tone.

			.align--centre

				a.button.js-subscribe-button(href="http://darryl-snow.tumblr.com/post/92167288432/setting-the-tone", alt="Visit my blog") Read More
					svg.icon(viewBox="0 0 32 32")
						use(xlink:href="#icon-arrow-right")

		.blog-right
			
			.component
				.component-content
					.weather
						.weather-forecast
							.weather-icon
								svg.icon(viewbox="0 0 32 32")
									use(xlink:href="#icon-cloudy")
							.weather-info
								.weather-info-temperature 19
									sup &deg;
								.weather-info-temperature-range
									| H:
									span.weather-info-temperature-max 10
									sup &deg;
									| L:
									span.weather-info-temperature-min 23
									sup &deg;
						.weather-local-conditions
							.weather-location
								svg.icon(viewBox="0 0 32 32")
									use(xlink:href="#icon-map-marker")
								| Kunming, China
							.weather-time 19:35