section#work.section--cobalt
	h2 What I do
		.subheading and have been doing for over 15 years

	//- p this is some text with a 
	//- 	a.tooltip tooltip
	//- 		span.tooltip-content
	//- 			span.tooltip-text
	//- 				span.tooltip-inner Hello world

	svg.section-end(xmlns="http://www.w3.org/2000/svg", version="1.1", width="100%", height="100", viewBox="0 0 100 100", preserveAspectRatio="none")
		path(d="M100,100V0C80.029,100,50.075,100,0.149,0H0v100H100z")