section#work.section--cobalt
	h2 What I do
		.subheading and have been doing for over 15 years

	.work-left

		ul.services
			li
				a.tooltip UI/UX Design
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Wireframes, Styleguides, Interactive Prototypes
			li
				a.tooltip Front-end Development
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner HTML, CSS, &amp; JavaScript
			li
				a.tooltip Back-end Development
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner JavaScript, Ruby, PHP, Python
			li
				a.tooltip Mobile Apps
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Web-based iOS/Android apps
			li
				a.tooltip Responsive Design
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Device-agnostic websites and apps
			li
				a.tooltip Testing
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner QA, Usability, Accessibility, SEO
			li
				a.tooltip Project Management
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Planning and overseeing design, development, and testing
			li
				a.tooltip Consultancy
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Critiques, Suggestions &amp; recommendations
			li
				a.tooltip Workshops
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Technical training
			li
				a.tooltip Wordpress
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner CMS integration, Custom theme development
			li
				a.tooltip AngularJS
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Scalable, data-driven web apps
			li
				a.tooltip Dev Ops
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner Server setup, Environment management, Continuous integration
			li
				a.tooltip NodeJS
					span.tooltip-content
						span.tooltip-text
							span.tooltip-inner APIs using ExpressJS

	.work-right

		.component
			.component-content
				.calendar
					.calendar-day Friday
					.calendar-date 14
					.calendar-monthandyear November, 2014

		.component
			.component-content
				.availability
					h3 Today I am:
					.availability-activity working on Diageo Horizon
					a.link(href="mailto:darryl@yourweb.expert", title="Email me") Ask about my availability

		.component
			.component-content
				.rates
					h3 My Daily Rate
					.rates-number
						small.rates-number-currency USD
						| $600
					.rates-conversions
						ul.icon-list.icon-list--cobalt
							li
								a.js-convert-currency.active(data-currency="usd", title="Convert rate to USD")
									svg.icon(viewBox="0 0 32 32")
										use(xlink:href="#icon-dollar")
							li
								a.js-convert-currency(data-currency="eur", title="Convert rate to EUR")
									svg.icon(viewBox="0 0 32 32")
										use(xlink:href="#icon-euro")
							li
								a.js-convert-currency(data-currency="gbp", title="Convert rate to GBP")
									svg.icon(viewBox="0 0 32 32")
										use(xlink:href="#icon-gbp")
							li
								a.js-convert-currency(data-currency="cny", title="Convert rate to CNY")
									svg.icon(viewBox="0 0 32 32")
										use(xlink:href="#icon-cny")
					a.link(href="mailto:darryl@yourweb.expert", title="Email me") Ask about my rates

		.component
			.component-content
				.clients
					h3 Some of my clients
					ul.carousel
						li.carousel-item
							svg.icon(viewBox="0 0 32 32")
								use(xlink:href="#icon-apple")
						li.carousel-item
							svg.icon(viewBox="0 0 32 32")
								use(xlink:href="#icon-apple")
						li.carousel-item
							svg.icon(viewBox="0 0 32 32")
								use(xlink:href="#icon-apple")

	svg.section-end(xmlns="http://www.w3.org/2000/svg", version="1.1", width="100%", height="100", viewBox="0 0 100 100", preserveAspectRatio="none")
		path(d="M100,100V0C80.029,100,50.075,100,0.149,0H0v100H100z")