.button
	border 					none
	display 				inline-block
	padding 				0.3em 0.5em
	text-decoration 		none
	transition 				$fast-transition

	&--full
		display 			block

	&--plain
		background 			none

	&--rounded
		border-radius 		$button-border-radius

	&--small
		svg
			height 			20px
			width 			20px

	&--ghost
		@extends 			.button--plain
		@extends 			.button--rounded
		border-width 		0.15em
		border-style 		solid
		font-weight 		600

.button-group
	clear 					both
	display 				flex

	.button
		flex 				1
		margin 				0

.button-mail
	background 				$cobalt
	color 					$white

.button-phone
	background 				$purple
	color 					$white

.button-github
	background 				$github
	color 					$white

.button-skype
	background 				$skype
	color 					$white

.button-twitter
	background 				$twitter
	color 					$white

.button-googleplus
	background 				$googleplus
	color 					$white

.button-pinterest
	background 				$pinterest
	color 					$white

.toggle-expand-button
	@extends				.button--plain
	display 				none
	opacity 				0.5
	padding 				0
	position 				absolute
	right 					$base-spacing-unit * 0.5
	top 					$base-spacing-unit * 0.5
	transition				$fast-transition
	z-index 				20

	&:active,
	&:focus,
	&:hover
		opacity 			1

	@media $lap
		display 			block