#availability.panel.panel-availability(data-ng-controller="AvailabilityCtrl")
  .calendar
    .box.box--green.box--padded
      .calendar-day(data-ng-bind="day")
      .calendar-date(data-ng-bind="date")
      .calendar-month-year
        span(data-ng-bind="month")
        | , 
        span(data-ng-bind="year")
  .box.box--yellow
    ul.tasks
      li.task Working on my book