.button
	background-color 		$silver
	border 					none
	border-radius 			$button-border-radius
	box-shadow 				0 4px 0 darken(@background-color, 15%)
	color 					$white
	cursor 					pointer
	display 				inline-block
	font-size 				1em
	line-height 			1
	padding 				0.3em 0.5em
	position 				relative
	text-align 				center
	text-decoration 		none
	transform 				translateY(0)
	transition 				0.1s all ease-in-out

	> *
		vertical-align 		middle

	&:active
		box-shadow 			inset 0 2px 0 rgba($black, 0.2)
		transform 			translateY(4px)

	&:focus,
	&:hover
		background 			lighten(@background-color, 10%)
		outline 			none

	&--full
		display 			block
		width 				100%

	&--plain
		background 			none

	&--flat
		box-shadow 			none

		&:active
			box-shadow 		none
			transform 		translateY(0)

	&--square
		border-radius 		0

	&--small
		font-size 			0.8em

		svg
			height 			20px
			width 			20px

	&--large
		font-size 			1.5em

	&--green
		background 			$green
		box-shadow 			0 4px 0 darken($green, 15%)
		color 				$white

		&:focus,
		&:hover
			background 		lighten($green, 10%)

	&--blue
		background 			$blue
		box-shadow 			0 4px 0 darken($blue, 15%)
		color 				$white

		&:focus,
		&:hover
			background 		lighten($blue, 10%)

	&--primary
		@extends 			.button--green

	&--ghost
		@extends 			.button--flat
		@extends 			.button--plain
		border-width 		0.2em
		border-style 		solid
		font-weight 		600

	&--icon
		group()
		padding 			0
		position 			relative

.icon-button-text
	border-radius 			$button-border-radius 0 0 $button-border-radius
	border-right 			1px solid rgba($black, 0.2)
	cursor 					default
	padding 				0.3em 0.5em
	text-align 				left
	width 					calc(100% - 1em - 20px)

	&:active
		box-shadow 			0 4px 0 darken($blue, 15%)
		transform 			translateY(0)

.icon-button-icon
	border-left 			2px solid rgba($white, 0.3)
	border-radius 			0 $button-border-radius $button-border-radius 0
	display 				inline-block
	padding 				0.3em 0.5em
	position 				absolute
	right 					0
	top 					0
	width 					calc(1em + 20px)

.button-group
	clear 					both
	display 				flex

	.button
		flex 				1
		margin 				0

.button-mail
	background-color 		$cobalt
	color 					$white

	&:focus,
	&:hover
		background 			@background-color

.button-phone
	background-color 		$purple
	color 					$white

	&:focus,
	&:hover
		background 			@background-color

.button-github
	background-color 		$github
	color 					$white

	&:focus,
	&:hover
		background 			@background-color

.button-skype
	background-color 		$skype
	color 					$white

	&:focus,
	&:hover
		background 			@background-color

.button-twitter
	background-color 		$twitter
	color 					$white

	&:focus,
	&:hover
		background 			@background-color

.button-googleplus
	background-color 		$googleplus
	color 					$white

	&:focus,
	&:hover
		background 			@background-color

.button-pinterest
	background-color 		$pinterest
	color 					$white

	&:focus,
	&:hover
		background 			@background-color

.toggle-expand-button
	@extends 				.button--flat
	@extends				.button--plain
	color 					$text-colour
	display 				none
	opacity 				0.5
	padding 				0
	position 				absolute
	right 					$base-spacing-unit * 0.5
	top 					$base-spacing-unit * 0.5
	transition				$fast-transition
	z-index 				20

	&:active,
	&:focus,
	&:hover
		background 			none
		opacity 			1

	@media $lap
		display 			block