.menu
	@extends 			.unstyled-list

	li
		group()
		border-bottom 	1px solid lighten($silver, 80%)
		border-left 	0 solid $blue
		color 			$brown
		cursor 			pointer
		font-weight 	600
		padding 		1em
		transition 		0.1s all ease-out

		&:hover
			background 	lighten($brown, 95%)
			border-left 5px solid $blue

		&.active
			background 	lighten($brown, 85%)
			border-left 5px solid $green

	.icon
		float 			right