.icon
	background 		none
	display			inline-block
	fill			currentColor
	height			20px
	pointer-events	none
	width			20px
	vertical-align 	middle

	&--small
		height		16px
		width		16px

	&--large
		height		32px
		width		32px