.rates

	&-number
		font-size				4em
		
	&-number-currency
		font-size				30%
		font-weight				600
		margin-right			0.5em
		text-transform			uppercase
		vertical-align			middle
			
	.icon-list

		a
			margin				1em