.weather-forecast,
.weather-local-conditions
	align(center)
	group()
	
.weather-icon,
.weather-info,
.weather-location,
.weather-time
	display						inline-block
	margin-left					-4px
	vertical-align				middle
	width						50%

.weather-icon

	svg
		height					6em
		width					6em

.weather-info-temperature
	font-size					6em
	font-weight					200

.weather-info-temperature-range
	color						$grey
	font-size					1.5em
	font-weight					200
	margin-top					0.5em

.weather-local-conditions
	border-top					1px solid $dark-grey
	margin-top					1em
	padding-top					1em

.weather-location
	
	svg
		margin-right			0.5em

.weather-time
	animation-name				blink
	animation-iteration-count	infinite
	animation-timing-function	cubic-bezier(1.0,0,0,1.0)
	animation-duration			0.9s
	font-family					$monospaced-font

@keyframes blink
	from
		color					$black
	to
		color					$white