doctype
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1, width=device-width")
		title mysite
		link(href="styles/app.css", rel="stylesheet")
	body(ng-app="mysite")
		include images/icon-sprite.svg
		.container(data-ng-view="")
		script(src="scripts/app.js")