include ../../assets/images/icon-sprite.svg

.container

  include ../intro/intro

  include ../blog/blog

  include ../skills/skills

  include ../rates/rates

  include ../weather/weather

  include ../availability/availability

  include ../book/book

//- #clientlogin.panel.panel--transparent.login.masonry-brick
//-   .box.box--padded.centred
//-     button.button.button--primary client login 
//-       svg.icon.icon--small(viewBox="0 0 32 32")
//-         use(xlink:href="#icon-login")

//- #clientlogin.panel.panel--transparent.login.masonry-brick
//-   .box.box--padded.box--white
//-     form
//-       .input-group
//-         .input-container
//-           input#username.input(type="text", name="username", placeholder="username")
//-           svg.icon(viewBox="0 0 32 32")
//-             use(xlink:href="#icon-vcard")
//-         .input-container
//-           input#password.input(type="password", name="password", placeholder="password")
//-           svg.icon(viewBox="0 0 32 32")
//-             use(xlink:href="#icon-login")
//-     a(href="mailto:darryl@yourweb.expert?subject=I forgot my password!", title="Click here to email me, I'll reset your password for you") can't remember?
//-   .box.box--padded.box--brown.centred
//-     button.button.button--primary client login 
//-       svg.icon.icon--small(viewBox="0 0 32 32")
//-         use(xlink:href="#icon-login")

//- #work.panel.work.masonry-brick
//-   h2.panel-title Previous Clients
//-   .box.box--padded.centred
//-     img.image(src="http://placehold.it/150x150")

//- #contact.panel.contact.masonry-brick
//-   .box.box--padded
//-     h2.centred Email me
//-     label(for="email") Your email address:
//-     input#email.input.input--full(name="email", type="email", placeholder="yourem@il.com")
//-     label(for="message") Your message:
//-     textarea#message.input.input--full(name="message", placeholder="what would you like to say?", rows="5")
//-   .box.box--padded.box--brown
//-     .left
//-       label(for="sendtoyourself")
//-         input#sendtoyourself.input(type="checkbox", name="sendtoyourself")
//-         |  send yourself a copy?
//-     .right
//-       button.button.button--primary(title="send me a message")
//-         span Send 
//-         svg.icon(viewBox="0 0 32 32")
//-           use(xlink:href="#icon-arrow-right")