#weather.panel.panel-weather(data-ng-controller="WeatherCtrl")
  .box.box--blue.box--padded
    .loading(data-ng-class="{'loading': !loaded}")
      .weather-icon
        svg.icon.icon--large(viewBox="0 0 20 20")
          use(xlink:href="{{icon}}")
      .weather-info
        .weather-info-temperature
          span(data-ng-bind="weather.current_condition[0].temp_C")
          sup &deg;
        .weather-info-temperature-range
          | H: 
          span(data-ng-bind="weather.weather[0].tempMaxC")
          sup &deg; 
          | L: 
          span(data-ng-bind="weather.weather[0].tempMinC")
          sup &deg;
  .weather-location
    svg.icon(viewBox="0 0 20 20")
      use(xlink:href="#icon-map-marker")
    | Kunming, China
  .weather-time(data-ng-bind="time")