*
	box-sizing				border-box

body
	color					$white

a
	svg,
	use
		pointer-events		none

footer
	background				$black
	font-size				0.7em
	padding					1em 0
	text-align				center

.left
	float					left

.right
	float					right

.half
	margin-top				2em
	width					100%

	&:first-of-type
		margin-top			0

	@media (min-width: 60em)
		margin-top			0
		width				50%