// Colours

$white		= #ffffff
$cream		= #fef0e3
$orange		= #e96e4f
$red 		= #f08080
$dark-red	= #663136
$brown		= #ebd3bd
$green		= #1ABC9C
$dark-green	= #16a085
$blue		= #3498db
$dark-blue	= #2C3E50
$cobalt		= #566473
$light-grey	= #e4eaea
$grey		= #74777b
$dark-grey	= #434d55
$black		= #2f3238

// Typography

$monospaced-font =	"Menlo", "Consolas","Courier New", monospace

// Z-indices

$zindex = {
	"container": 1
	"section": 2
	"content": 3
	"avatar": 4
	"morphOverlay": 5
	"morphContent": 6
	"loginButton": 7
	"menuToggle": 8
	"modalOverlay": 9
	"modal": 10
	"modalCloseButton": 11
	"tooltip": 12
	"tooltipContent": 13
	"cover": 14
}