// Colours

$white		= #ffffff
$orange		= #e96e4f
$red 		= #f08080
$dark-red	= #663136
$green		= #1ABC9C
$dark-green	= #16a085
$blue		= #2fa0ec
$dark-blue	= #2C3E50
$cobalt		= #566473
$light-grey	= #e4eaea
$grey		= #434d55
$dark-grey	= #74777b
$black		= #2f3238

// Z-indices

$zindex = {
	"container": 1
	"section": 2
	"content": 3
	"avatar": 4
	"loginButton": 5
	"menuToggle": 6
	"modalOverlay": 7
	"modal": 8
	"tooltip": 9
	"tooltipContent": 10
	"cover": 11
}