extends templates/master

block title
	| Client Admin Area : Darryl Snow &ndash; Web designer, developer, and project manager

block styles

block content
	h1 admin area

block scripts
	script(src="/scripts/admin.js")