.interests
	inline-list()
	unstyled-list()
	
	li
		background				rgba($white, 0.8)
		border-radius			0.3em
		color					$dark-green
		display					inline-block
		font-weight				700
		font-size				0.8em
		padding					0.1em 0.4em
		margin					0.4em 0.2em
		text-transform			uppercase