extends templates/master

// Mandatory, the page <title> tag would otherwise be empty
block title
	| Welcome to the Express Boilerplate

// CSS code only for this page, this WILL NOT be added to application.css
block css

// Javascript code only for this page, this WILL NOT be added to application.js
block script


block content
	p= text
	if user_id
		em User ID: #{user_id}