label
	display 			block
	// font-weight 		600
	margin 				$base-spacing-unit * 0.5 0

.input
	background 			lighten($black, 97%)
	border-radius 		$button-border-radius
	box-shadow 			none
	border 				2px solid rgba($brown, 0.2)
	font-size 			1.2em
	margin 				0
	padding 			0.5em 1em
	transition 			0.3s all ease-in-out

	&--full
		width 			100%

	&:focus
		background 		$white
		outline 		none

.input-container
	position 		relative

	.icon
		left 		0.5em
		height 		1em
		opacity 	0.5
		position 	absolute
		top 		0.9em
		transition 	0.1s opacity ease-out
		width 		1em

	.input
		margin-bottom 	1em
		padding-left 	2em

		&:focus + .icon
			fill 	$green
			opacity 1

.input-group
	group()
	margin-bottom 		$base-spacing-unit * 0.5
	width 				100%

	.input
		@extends 		.input--full
		border-bottom 	none
		margin-bottom 	0

	.input-container
		&:first-of-type .input
			border-radius 	$button-border-radius $button-border-radius 0 0

		&:last-of-type .input
			border-bottom 	2px solid rgba($brown, 0.2)
			border-radius 	0 0 $button-border-radius $button-border-radius

.ng-valid:not(.ng-pristine)
	border-color 		$green

.ng-invalid:not(.ng-pristine)
	border-color 		$red