// ANIMATION

$fast-transition =			0.2s all ease-in-out
$slow-transition =			0.5s all ease-in-out

// COLOURS

$red = 						#e74c3c
$orange = 					#e67e22
$yellow = 					#f1c40f
$green = 					#1abc9c
$blue = 					#3498db
$purple = 					#9b59b6
$cobalt = 					#34495e
$brown =					#757161
$silver =					#bdc3c7
$white = 					#ffffff
$black = 					#000000

$text-colour =				lighten(black, 35%)
$panel-background-colour =	lighten(yellow, 99%)

$github =					#7f8c8d
$googleplus =				#dd4a38
$pinterest =				#c91618
$skype =					#00a2ed
$twitter =					#46c0fb

// LAYOUT

$lap =						"(min-width: 55em)"
$desk =						"(min-width: 70em)"

$base-spacing-unit =		1.5em

$button-border-radius =		0.3em

// TYPOGRAPHY

@import 					url("http://fonts.googleapis.com/css?family=Open+Sans:300,700")

$base-font-family =			"Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$monospaced-font =			"Menlo", "Consolas","Courier New", monospace