.blog
	width 				50%

	h2
		margin-top 		0

.blog-button
	@extends 			.centred

.blog-post-content
	max-height 			12em
	position 			relative

	&:after
		background 		linear-gradient(to bottom,  rgba($white, 0) 0%,#ffffff 100%)
		bottom 			0
		content 		""
		height 			4em
		left 			0
		position 		absolute
		width 			100%