.intro
	column(12)
	offset(0)
	group()
	overflow 			visible
	text-align 			center

	@media $lap
		column(8)
		offset(2)
		group()
		overflow 		visible

	@media $desk
		text-align 		left

.intro-avatar
	column(12)
	margin-bottom 		$base-spacing-unit
	text-align 			center			

	@media $desk
		column(3)

.intro-text
	column(12)
	overflow 			visible !important

	h1
		margin-top 		0

	@media $desk
		column(9)
		overflow 		visible !important

.intro-download-cv
	@extends 			.button--ghost
	@extends 			.button--small
	border-color 		$text-colour
	color 				$text-colour
	opacity 			0.7

	&:active,
	&:focus,
	&:hover
		// opacity 		1
		color $white
		background $text-colour

.intro-social-buttons
	float 				left
	height 				$base-spacing-unit * 2
	margin-top 			$base-spacing-unit
	width 				100%

	.button
		opacity 		0.7
		transition		$fast-transition * 0.5

		&:active,
		&:focus,
		&:hover
		&.active
			opacity 	1