#blog.panel.panel-blog(data-ng-controller="BlogCtrl")
  .box.box--padded.loading(data-ng-class="{'loading': !loaded}")
    h2.centred(data-ng-bind-html="post.title")
    .blog-post-content(data-ng-bind-html="post.body")
    .blog-button
      a.button.button--blue(href="{{post.post_url}}", title="visit my blog")
        span Read more 
        svg.icon(viewBox="0 0 32 32")
          use(xlink:href="#icon-arrow-right")